@page
@model LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<div class="w-50 mb-3" style="margin-left:50%; transform:translateX(-50%)">
    <img src="~/assets/img/logo.png" class="w-100"/>
</div>
<h2 class="text-center mb-3">Đăng nhập</h2>
<form method="post">
    <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
    <div class="form-group">
        <label asp-for="Login.Username"></label>
        <input asp-for="Login.Username" class="form-control" />
        <span asp-validation-for="Login.Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Login.Password"></label>
        <input asp-for="Login.Password" class="form-control" type="password" />
        <span asp-validation-for="Login.Password" class="text-danger"></span>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-warning font-weight-bold">Login</button>
    </div>
</form>
