@using MuInShared.Cart
@model MuInShared.Checkout.CheckoutVM

@{
	List<CartItemReponse> cartItems = ViewBag.cartItems;
}
<partial name="_Header2" />

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="breadcrumb-text">
					<p>Buying buying</p>
					<h1>Check Out Product</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end breadcrumb section -->
<!-- check out section -->
<div class="checkout-section mt-150 mb-150">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="checkout-accordion-wrap">
					<div class="accordion" id="accordionExample">
						<div class="card single-accordion">
							<div class="card-header" id="headingOne">
								<h5 class="mb-0">
									<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
										Billing Address
									</button>
								</h5>
							</div>

							<div id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionExample">
								<div class="card-body">
									<div class="billing-address-form">
										<form action="index.html">
											<p><input type="text" placeholder="Name" asp-for="FullName"></p>
											<p><input type="email" placeholder="Email" asp-for="Email"></p>
											<p><input type="text" placeholder="Address" asp-for="Address"></p>
											<p><input type="tel" placeholder="Phone" asp-for="Phone"></p>
											@* <p><textarea name="bill" id="bill" cols="30" rows="10" placeholder="Say Something"></textarea></p> *@
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>

			<div class="col-lg-4">
				<div class="order-details-wrap">
					<table class="order-details">
						<thead>
							<tr>
								<th>Your order Details</th>
								<th>Price</th>
							</tr>
						</thead>
						<tbody class="order-details-body">
							<tr>
								<td>Product</td>
								<td>Total</td>
							</tr>
							@if (cartItems != null)
							{
								@foreach (var item in cartItems)
								{
									<tr>
										<td>@item.ProductName</td>
										<td>@((item.UnitPrice * item.Amount).ToString("#,##0")) VNĐ</td>
									</tr>
								}
							}
						</tbody>
						@if (cartItems != null)
						{
							<tbody class="checkout-details">
								<tr>
									<td>Subtotal</td>
									<td>@cartItems.Sum(x => x.TotalMoney).ToString("#,##0") VNĐ</td>
								</tr>
								<tr>
									<td>Shipping</td>
									<td>Free</td>
								</tr>
								<tr>
									<td>Total</td>
									<td>@cartItems.Sum(x => x.TotalMoney).ToString("#,##0") VNĐ</td>
								</tr>
							</tbody>
						}
					</table>
					<a asp-action="Checkout" class="boxed-btn">Place Order</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end check out section -->